{% extends "base.html" %}
{% block title %}Numerical Labs{% endblock %}

{% block header %}
<header>
    <style>
        .header {
            background: url({{ url_for('static', filename='img/sunset_2.jpg')
            }}) no-repeat center center;
            background-size: cover;
            height: 400px;  /* Changed from 100vh to 400px */
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;  /* or any color you prefer */
        }
    </style>
    <div class="header">
        <div class="container text-center">
            <h1>
                Numerical Labs
            </h1>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
    <div class="container text-centered mt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 mx-auto">
            Numerical Labs provides mathematical solutions to complex problems faced in industry.
        </div>
    </div>
{% endblock %}