{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Semigroups{% endblock %}


{% block content %}

<div class="container">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 mx-auto">
        <div class="container text-center my-4">
            <div class="row">
                <div class="col h3">Numerical Semigroup Invariants and the
                    Second Frobenius Number</div>
            </div>
        </div>
        <p>
            Sometimes in mathematics a relatively easy problem to understand can
            lead to rich discoveries encompassing a diverse set of fields and to
            discovery new mathematics along the way. One such example is the
            Frobenius Coin Problem. Imagine, in where you live, your country's
            currency only has 3 and 5 cent coins. Ignoring the question
            of why your country only has these two denominations, another
            question you may ask is what is the greatest monetary amount that
            <em>cannot</em> be obtained from any combination of these coins?
        </p>
        <p>
            By repeated adding of these coins we get the following first ten terms:
            <div class="container text-center my-2">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        {% for num in example_0 %}
                            {{ num }},
                        {% endfor %}...
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            We can see that the largest integer not in this list is 7.
        </p>
        <p>
            This number is called the Frobenius Number after Ferdinand Georg
            Frobenius who was a German mathematician born February
            14, 1877, in a suburb of Berlin.
            <img src="{{ url_for('static', filename='img/frobenius.jpg') }}"
                 class="rounded float-start mx-2 my-2" width="125"
                 alt="Ferdinand Georg Frobenius">
            He worked on diverse fields such as elliptic functions, differential
            equations, number theory, and group theory and taught at the
            University of Berlin and the ETH Zurich.
        </p>
        <p id="gen1">
            There are many mathematical numbers and objects named after him but
            this one in particular will help motivate our study of numerical
            semigroups and lay the groundwork for the introduction of "The
            Second Frobenius Number", named by Joseph Gubeladze and Curtis
            Olinger in their paper "Associated Graded Rings for Numerical Monoid
            Rings" published 2022.
        </p>
        <p>The numbers 3 and 5 are called generators since upon adding these
            numbers together (including repetitions) in any combination, you can
            "generate" every number except for 1, 2, 4, and 7.
            Using mathematical notation we would write this set as
            \[
                \langle 3, 5 \rangle = \{3, 5, 6, 8, 9, 10, \ldots \}
            \]
            where \( \langle 3, 5 \rangle\) denotes the set generated by 3 and 5.
        </p>
        <p>
            To get a feeling for the numbers generated by a set of generators,
            try entering in your own generators and see which numbers they
            produce (please limit the number of generators to
            as most three).
        </p>








        <div class="container">

            <div class="row my-4">

                <div class="col-3">
                    <form action="{{ url_for('semigroups', _anchor='gen1') }}"
                          method="POST">
                        {{ form1.csrf_token }}
                        {{ form1.generators1.label(class="form-label") }}
                        {{ form1.generators1(class="form-control",
                        value=session['gen1'])  }}
                        {{ form1.submit(class="btn btn-primary") }}
                    </form>
                </div>

                <div class="col-9 row align-items-center">
                    {% for num in example_1 %}
                        {{ num }},
                    {% endfor %}...
                </div>
            </div>
        </div>

        <p>
            Depending on which generators you entered, you may have noticed
            the set of numbers created contains all consecutive integers after
            some number. For example, the generating set of 2 and 3 is a
            set of consecutive integers starting at 2. Whereas the
            generating set of 3 and 5 doesn't start increasing by one until the
            number 8. From 8 on, all positive integers are included in this
            set. So, the number of elements <em>not</em> in this set is finite.
            Mathematically we would write,
            \[
                \mathbb{Z^+} \setminus \langle 5, 7 \rangle = \{ 1, 2, 4, 7 \}
            \]
            where \( \mathbb{Z}^+ \) is the set of positive integers. We
            would say
            the complement of the set generated by 3 and 5 within the set of
            positive integers equals 1, 2, 4, and 7.
        </p>
        <p>
            Furthermore, there are generators that never produce a
            set of consecutive integers. Therefore, their complement in
            the set of positive integers is infinite (meaning there is an
            infinite number of integers in this set).
        </p>
        <p>
            For example, consider the set generated by 2 which is the set of all
            positive even integers. All the odd integers are missing from this
            set.
        </p>
        <p>
            In fact, for a set of integers to be generated that does not have
            any "gaps" (i.e. has a finite complement in the positive integers),
            all one needs is for the generators themselves to be coprime, that
            is for the greatest common divisor of the generators to be 1.
        </p>
        <p>
            This leads us to an important definition.
        </p>
        <p>
            A <em>Numerical Semigroup</em> is a subset of the nonnegative integers
            with
            addition as the binary operations (meaning you can add numbers and
            the result will be in this set) and a finite complement within all
            the positive integers. The set generated by 2 and 3 and the set
            generated by 3 and 5 are both numerical semigroups.
        </p>
        <p>
            Numerical Semigroups are the main field of study for this webpage
            and while they might seem simple, there is a great deal to discover
            about them.
        </p>
        <p></p>

        <!--Form and graph-->
        <div class="container my-5" id="gen2">
            <div class="row">
                <div class="col-sm-4">
                    <form action="{{ url_for('semigroups', _anchor='gen2') }}"
                          method="POST">
                        {{ form2.csrf_token }}
                        {{ form2.generators2.label(class="form-label") }}
                        {{ form2.generators2(class="form-control",
                        value=session['gen2']) }}
                        <br/>
                        {{ form2.submit(class="btn btn-primary") }}
                    </form>
                </div>
                <div class="col-sm-8">
                    <div id="chart"
                         class="embed-responsive embed-responsive-16by9"></div>
                </div>
            </div>
        </div>

        <!--Invariant table-->
        <table class="table table-striped px-4">
            <thead>
            <tr>
                <th scope="col">Semigroup element</th>
                <th scope="col">Factorization</th>
                <th scope="col"class="text-center">Max factorization length</th>
                <th scope="col" class="text-center">Min factorization length</th>
                <th scope="col" class="text-center">Elasticity</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for key, value in invariant_dict.items() %}
                    <tr>
                        <th scope="row">{{ key }}</th>
                        <td>
                            {% for item in value[0] %}
                                {{ item }}
                                {% if not loop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-center">{{ value[1] }}</td>
                        <td class="text-center">{{ value[2] }}</td>
                        <td class="text-center">{{ value[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <!--Some Latex-->
        <div class="container my-4">
            <p>
                When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and
                they are
                \[
                    x = {-b \pm \sqrt{b^2-4ac} \over 2a}.
                \]
            </p>
        </div>



    </div>
    <div class="col-lg-2"></div>
</div>





















{% endblock %}

{% block scripts %}
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{ graphJSON | safe }};
        Plotly.plot('chart', graphs, {});
    </script>
    {{ super() }}
{% endblock %}
